# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.egg

# Node
node_modules/
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
*.local
.env
.env.*

# Misc
*.local
.codebuddy/

# Reference nested repo
reference/relationship/
